.login-page {
  height: 100%;
  margin: auto;
}
.login-page .login-page__bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
}
.login-page .login-form {
  position: relative;
  display: flex;
  margin: 30vh auto;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 350px;
}
.login-page .login-form h2 {
  font-weight: 500;
  letter-spacing: 5px;
}
.login-page .login-form button {
  margin-top: 10px;
}
.login-page .login-form p {
  font-weight: 700;
  margin: 5px;
}
.login-page .login-form .errs {
  color: red;
  font-size: 12px;
  margin: 5px auto;
}
.login-page .button-block {
  margin: 10px auto;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.login-page .button-block a {
  color: black;
}
.login-page .login-form__links {
  margin-top: 9px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

/*# sourceMappingURL=LoginPageStyle.css.map */
