.login-page {
  height: 100%;
  margin: auto;

  .login-page__bg {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .login-form {
    position: relative;
    display: flex;
    margin: 30vh auto;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 350px;

    h2 {
      font-weight: 500;
      letter-spacing: 5px;
    }

    button {
      margin-top: 10px;
    }

    p {
      font-weight: 700;
      margin: 5px;

    }

    .errs {
      color: red;
      font-size: 12px;
      margin: 5px auto;
    }
  }

  .button-block {
    margin: 10px auto;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    a {

      color: black;
    }
  }

  .login-form__links {
    margin-top: 9px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;

  }
}

