.container {
  display: flex;
  flex-direction: row;
}

.startChat {
  margin: auto;
}

.icon-status {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: gray;
}

.lightGreen {
  background-color: lightgreen;
}

.red {
  background-color: red;
}

.ChatBar {
  width: 25%;
  height: 100vh;
  background-color: #2073f4;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  z-index: 5;
}
.ChatBar .Active-chat {
  width: 100%;
}
.ChatBar .Active-chat .Active-chat__noChat {
  color: white;
  width: 100%;
  text-align: center;
}
.ChatBar .Active-chat .active-click {
  background-color: rgba(96, 171, 249, 0.5);
}
.ChatBar .Active-chat .chat-person {
  width: 100%;
  height: 60px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
.ChatBar .Active-chat .chat-person span {
  margin-left: 20px;
}
.ChatBar .Active-chat .chat-person .newMess-icon {
  width: 15px;
  height: 15px;
  font-size: 13px;
  border-radius: 50%;
  background-color: #ffffff;
  font-weight: 500;
  color: blue;
  line-height: 13px;
  text-align: center;
}
.ChatBar .Active-chat .chat-person .chat-person__info {
  width: 62%;
  margin: 5px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.ChatBar .Active-chat .chat-person .chat-person__info span {
  overflow: hidden;
  font-weight: 700;
  margin: 0;
  color: white;
  font-size: 13px;
}
.ChatBar .Active-chat .chat-person .chat-person__info p {
  margin: 0;
  color: white;
  font-size: 12px;
  width: 200px;
  height: 1.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ChatBar .ChatBar__name {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  font-family: "Raleway", sans-serif;
  letter-spacing: 3px;
  color: white;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.ChatBar .ChatBar__icon {
  display: flex;
  width: 100%;
  margin: 20px 0;
  justify-content: space-around;
}
.ChatBar .ChatBar__icon .icon-button {
  width: 40px;
  height: 40px;
}
.ChatBar .user-Profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  color: white;
  position: absolute;
  bottom: 10px;
  width: 98%;
}
.ChatBar .user-Profile .user-Profile__logo {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.MainChat {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  color: black;
  width: 75%;
}
.MainChat .MainChat__header {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 4px 4px -2px gray;
}
.MainChat .MainChat__header div {
  margin: 0 10px 0 20px;
}
.MainChat .MainChat__Chat {
  height: 82%;
  width: 100%;
  color: black;
}
.MainChat .MainChat__Chat .currentUser {
  flex-direction: row-reverse !important;
  text-align: center;
}
.MainChat .MainChat__Chat .currentUser .message {
  border-radius: 20px 20px 0 20px !important;
}
.MainChat .MainChat__Chat .BlockChat {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.MainChat .MainChat__Chat .BlockChat .imgTime-icon {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-self: end;
  transform: translateY(30px);
}
.MainChat .MainChat__Chat .BlockChat .message {
  margin: 15px 0;
  min-width: 50px;
  max-width: 280px;
  background: rgba(223, 223, 223, 0.52);
  border-radius: 20px 20px 20px 0;
  min-height: 20px;
  padding: 20px;
  font-size: 17px;
}
.MainChat .MainChat__Footer {
  margin-left: -12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8%;
  width: calc(100% + 12px);
  background: rgba(191, 191, 191, 0.24);
  z-index: 0;
}
.MainChat .MainChat__Footer span {
  padding-left: 40px;
  width: 80%;
}
.MainChat .MainChat__Footer .button-block {
  width: 7%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.MainChat .MainChat__Footer .button-block__send {
  cursor: pointer;
  text-align: center;
  line-height: 39px;
  width: 40px;
  height: 40px;
  background: #2073F4;
  border-radius: 100%;
  margin: auto;
  border: 0;
}

/*# sourceMappingURL=MainChatStyle.css.map */
